.footer {
  background-color: rgba(1, 1, 1, 0.85);
  position: fixed;
  padding: 0.5% 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  color: white;
}
